extends layouts/default
include helpers/mixins

block variables
	- const title = "Sitemap"

block content
	ul
		li
			a(href="404.html") 404
		li
			a(href="main-page.html") Главная
		li
			a(href="ui.html") UI элементы
	




